<h1>Ninja Listing</h1>
<form id="filter">
	<label>Filter ninjas by name:</label>
	<input type="text" [(ngModel)]="term" name="term" />
</form>
<ul id="ninja-listing">
	<li *ngFor="let ninja of ninjas | filter: term">
		<div class="single-ninja">
			<span [ngStyle]="{ background: ninja.belt }">{{ ninja.belt }} belt</span>
			<h3>{{ ninja.name | uppercase }}</h3>
			<div (click)="remove($event)" [attr.data-name]="ninja.name">Delete</div>
		</div>
	</li>
</ul>
<button (click)="logIt()">Log Me</button>
